{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="main heading my-5">
  <div class="text-center">
    <h1 class="display-4">gallery  </h1>
    <hr class="w-25 mx-auto">
  </div>
  <div class="container">
    <div class="row gy-2 gx-2">
      <div class="col-md-4 col-10 col-xxl-4 mx-auto">
        <figure>
          <img src="{% static 'images/image 6.jpg' %}" alt="image not found" class="img-fluid">
        </figure>
      </div>
      <div class="col-md-4 col-10 col-xxl-4 mx-auto">
        <figure>
          <img src="{% static 'images/image 7.jpg' %}" alt="image not found" class="img-fluid">
        </figure>
      </div>
      <div class="col-md-4 col-10 col-xxl-4 mx-auto">
        <figure>
          <img src="{% static 'images/image9.jpeg' %}" alt="image not found" class="img-fluid">
        </figure>
      </div>
      <div class="col-md-4 col-10 col-xxl-4 mx-auto">
        <figure>
          <img src="{% static 'images/image15.jpg' %}" alt="image not found" class="img-fluid">
        </figure>
      </div>
      <div class="col-md-4 col-10 col-xxl-4 mx-auto">
        <figure>
          <img src="{% static 'images/image2.jpeg' %}" alt="image not found" class="img-fluid">
        </figure>
      </div>
      <div class="col-md-4 col-10 col-xxl-4 mx-auto">
        <figure>
          <img src="{% static 'images/image21.jpg' %}" alt="image not found" class="img-fluid">
        </figure>
      </div>
      <div class="col-md-4 col-10 col-xxl-4 mx-auto">
        <figure>
          <img src="{% static 'images/image8.jpg' %}" alt="image not found" class="img-fluid">
        </figure>
      </div>
      <div class="col-md-4 col-10 col-xxl-4 mx-auto">
        <figure>
          <img src="{% static 'images/image19.jpg' %}" alt="image not found" class="img-fluid">
        </figure>
      </div>
      <div class="col-md-4 col-10 col-xxl-4 mx-auto">
        <figure>
          <img src="{% static 'images/image15.jpg' %}" alt="image not found" class="img-fluid">
        </figure>
      </div>
      </div>
    </div>
  </div>
  </section>
{% endblock %}