{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="main heading my-5-6">
  <div class="text-center">
    <h1 class="display-4">our services  </h1>
    <hr class="w-25 mx-auto">
  </div>

  <!-- <div class="container-service"></div>
      <div class="row">
        <div class="col-md-4 col-12 col-xxl-4 mx-auto">
          </div>
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row ">
              <div class="col-md-4">
                <img src="{% static 'images/image20.jpg' %}" class="img-fluid" alt="image not found" >
              </div>
              <div class="col-md-8">
                <div class="card-body ">
                  <h5 class="card-title">wheat and maize</h5>
                  <p class="card-text"> organic farming, sustainable agricultural system that uses ecologically based pest controls and biological fertilizers derived largely from animal and plant wastes and nitrogen-fixing cover crops.</p>p
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
         </div>
         <div class="col-md-4 col-12 col-xxl-4 mx-auto">
         </div>
         <div class="card mb-3" style="max-width: 540px;">
           <div class="row  ">
             <div class="col-md-4">
               <img src="{% static 'images/image21.jpg' %}" class="img-fluid" alt="image not found" >
             </div>
             <div class="col-md-8">
               <div class="card-body">
                 <h5 class="card-title">after completing harvesting </h5>
                 <p class="card-text"> organic farming, sustainable agricultural system that uses ecologically<br>
                   based pest controls and biological fertilizers derived largely from animal and plant<br>
                    wastes and nitrogen-fixing cover crops.</p>
                 <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
               </div>
             </div>
           </div>
         </div>
        </div>
        </div>
         </div>
          <div class="col-md-4 col-12 col-xxl-4 mx-auto">
          </div>
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row maxx ">
              <div class="col-md-4">
                <img src="{% static 'images/image10.jpg' %}" class="img-fluid" alt="image not found" >
              </div>
              <div class="col-md-8"  >
                <div class="card-body">
                  <h5 class="card-title">maize </h5>
                  <p class="card-text">organic farming, sustainable agricultural system that uses ecologically based pest controls and biological fertilizers derived largely from animal and plant wastes and nitrogen-fixing cover crops.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
         </div>
         </div>
          </div>
      </div>
    </div>
    </div>
  </div>

<button type="button" class="btn btn-outline-info" data-bs-toggle="tooltip" data-bs-placement="right"
title="Tooltip on right">checkmore </button>
</section> -->
<section class="service-section ">
  <h4>After<br> <br> <br> <br>  completing <br> <br> <br> <br> crop</h4>
  <figure class="img1">
    <img src="{% static 'images/image21.jpg' %}" alt="image not found " height="400px" width="300px">
    <div class="card-title-1">
      <h3>wheat and maize</h3>
    <p class="text-body">organic farming, sustainable agricultural<br>
       systemthat usesecologically based pest controls and biological <br>
       fertilizersderived large
      from animal and plant wastes and nitrogen-fixing cover crops.</p>  
      </div>
  </figure>
 <h4>After<br> <br> <br> <br>  praparing <br> <br> <br> <br> crop</h4>
<figure class="img1">
  <img src="{% static 'images/image22.jpeg' %}" alt="image not found " height="400px" width="300px">
  <div class="card-title-2"> 
    <h3>working in progress </h3>
  <p class="text-body">organic farming, sustainable agricultural<br>
     systemthat usesecologically based pest controls and biological <br>
     fertilizersderived large
    from animal and plant wastes and nitrogen-fixing cover crops.</p>
  </div>

  
</figure>
<h4>After<br> <br> <br> <br> Completed <br> <br>  <br> <br> crops</h4>
<figure class="img1">
  <img src="{% static 'images/image23.jpg' %}" alt="image not found " height="400px" width="300px">
  <div class="card-title-3"> 
    <h3>corn </h3>
  <p class="text-body">organic farming, sustainable agricultural<br>
     systemthat usesecologically based pest controls and biological <br>
     fertilizersderived large
    from animal and plant wastes and nitrogen-fixing cover crops.</p>
  </section>
</figure>
<div class="photography">
  <img src="{% static 'images/image30.jpg' %}" alt="image not found" height="500px" width="100%">
</div>


<section class="main heading my-5 pt-5 offer-style">
  <div class="container-fluid">
    <div class="row-1">
      <div class="col-xxl-12 col-12 py-5 text-center">
        <h1 class="text-white" >out my vedios</h1>
        <p>never give up on Something thst,s you cant go a day without thinking about </p>
        <a href="https://www.youtube.com/watch?v=wougJaN_Ha0" target="thapa">
        <button type="button" class="btn btn-outline-light" data-bs-placement="right"
  title="Tooltip on right"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8m-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5"/>
  </svg>checkmore </button>
  </a>
      </div>
    </div>
  </div>
  </section>
{% endblock %}